<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @platform.name %>
</p>

<p>
  <b>Overview:</b>
  <%= @platform.overview %>
</p>

<p>
  <b>Developer:</b>
  <%= @platform.developer %>
</p>

<p>
  <b>Rating:</b>
  <%= @platform.rating %>
</p>

<p>Games</p>
<% @platform.games.order("title").each do |game| %>
<p>
	<b>Title:</b>
	<%= link_to game.title, game %>
</p>
<% end %>
