<p id="notice"><%= notice %></p>

<p>
  <b>Gametitle:</b>
  <%= @game.GameTitle %>
</p>

<p>
  <b>Platform:</b>
  <%= @game.Platform %>
</p>

<p>
  <b>Overview:</b>
  <%= @game.Overview %>
</p>

<p>
  <b>Esrb:</b>
  <%= @game.ESRB %>
</p>

<p>
  <b>Release Date:</b>
  <%= @game.ReleaseDate %>
</p>

<p>
  <b>Players:</b>
  <%= @game.Players %>
</p>

<p>
  <b>Publisher:</b>
  <%= @game.Publisher %>
</p>

<p>
  <b>Developer:</b>
  <%= @game.Developer %>
</p>

<p>
  <b>Rating:</b>
  <%= @game.Rating %>
</p>

<p>
	<b>Images</b>
	<% @game.images.each do |image| %>
		<%= image_tag("http://thegamesdb.net/banners/" + image.location) %>
	<% end %>
</p>