<p id="notice"><%= notice %></p>

<p>
  <b>Gametitle:</b>
  <%= @game.title %>
</p>

<% if current_user %>
  <% if GameStashDatum.exists?(:game_id => @game.id) %>
      <% @game_stash_datum = GameStashDatum.find_by_user_id_and_game_id(current_user.id, @game.id) %>
  <% end %>

  <%= form_tag game_stash_data_path params: {:game_id => @game.id} do %>
  <p>
    <%= label_tag :rating %>
    <% if @game_stash_datum %>
      <%= select(:game_stash_datum, :rating, [['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5']], { :selected => @game_stash_datum.rating.to_s }) %>
    <% else %>
      <%= select(:game_stash_datum, :rating, [['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5']]) %>
    <% end %>
  </p>
  <p>
    <%= label_tag :has_played %>
    <% if @game_stash_datum %>
      <%= check_box( :game_stash_datum, :has_played, {checked: @game_stash_datum.has_played }, "1", "0") %>
    <% end %> 
  </p>
  <p>
    <%= submit_tag %>
  </p>
  <% end %>
<% end %>

<p>
  <b>Platform:</b>
  <%= @game.platform.name %>
</p>

<p>
  <b>Overview:</b>
  <%= @game.overview %>
</p>

<p>
  <b>Esrb:</b>
  <%= @game.esrb %>
</p>

<p>
  <b>Release Date:</b>
  <%= @game.release_date %>
</p>

<p>
  <b>Publisher:</b>
  <%= @game.publisher %>
</p>

<p>
  <b>Developer:</b>
  <%= @game.developer %>
</p>

<p>
  <b>Rating:</b>
  <%= @game.rating %>
</p>

<p>
	<p><b>Images</b></p>
	<% @game.images.each do |image| %>
		<%= image_tag(image.location) %>
	<% end %>
</p>