<p id="notice"><%= notice %></p>

<%= stylesheet_link_tag "game" %>

<p>
  <b>Gametitle:</b>
  <%= @game.title %>
</p>

<% if current_user %>
  <% if GameStashDatum.exists?(:game_id => @game.id) %>
      <% @game_stash_datum = GameStashDatum.find_by_user_id_and_game_id(current_user.id, @game.id) %>
  <% else %>
      <% @game_stash_datum = GameStashDatum.new %>
  <% end %>

  <%= form_tag game_stash_data_path params: {:game_id => @game.id} do %>
    <div class="cleared">
        <%= label_tag :has_played %>
        <% if @game_stash_datum %>
            <%= check_box( :game_stash_datum, :has_played, {checked: @game_stash_datum.has_played }, "1", "0") %>
        <% end %>
    </div>

    <%= radio_button(:game_stash_datum, :rating, "1", {checked: @game_stash_datum.rating==1, class: 'star'}) %>
    <%= radio_button(:game_stash_datum, :rating, "2", {checked: @game_stash_datum.rating==2, class: 'star'}) %>
    <%= radio_button(:game_stash_datum, :rating, "3", {checked: @game_stash_datum.rating==3, class: 'star'}) %>
    <%= radio_button(:game_stash_datum, :rating, "4", {checked: @game_stash_datum.rating==4, class: 'star'}) %>
    <%= radio_button(:game_stash_datum, :rating, "5", {checked: @game_stash_datum.rating==5, class: 'star'}) %>
    <div class="cleared"><%= submit_tag %></div>
  <% end %>
<% end %>

<p>
  <b>Platform:</b>
  <%= @game.platform.name %>
</p>

<p>
  <b>Overview:</b>
  <%= @game.overview %>
</p>

<p>
  <b>Esrb:</b>
  <%= @game.esrb %>
</p>

<p>
  <b>Release Date:</b>
  <%= @game.release_date %>
</p>

<p>
  <b>Publisher:</b>
  <%= @game.publisher %>
</p>

<p>
  <b>Developer:</b>
  <%= @game.developer %>
</p>

<p>
  <b>Rating:</b>
  <%= @game.rating %>
</p>

<p>
	<p><b>Images</b></p>
	<% @game.images.each do |image| %>
		<%= image_tag(image.location) %>
	<% end %>
</p>