<p id="notice"><%= notice %></p>

<p>
  <b>Gametitle:</b>
  <%= @game.GameTitle %>
</p>

<p>
  <b>Platform:</b>
  <%= @game.Platform %>
</p>

<p>
  <b>Overview:</b>
  <%= @game.Overview %>
</p>

<p>
  <b>Esrb:</b>
  <%= @game.ESRB %>
</p>
