<p id="notice"><%= notice %></p>

<p>
  <b>Gametitle:</b>
  <%= @game.title %>
</p>

<%= form_tag game_stash_data_path params: {:user_id => current_user.id, :game_id => @game.id} do %>
  <%= label_tag :rating %>
  <%= check_box_tag :check %>
  <%= submit_tag %>
<% end %>

<p>
  <b>Platform:</b>
  <%= @game.platform.name %>
</p>

<p>
  <b>Overview:</b>
  <%= @game.overview %>
</p>

<p>
  <b>Esrb:</b>
  <%= @game.esrb %>
</p>

<p>
  <b>Release Date:</b>
  <%= @game.release_date %>
</p>

<p>
  <b>Publisher:</b>
  <%= @game.publisher %>
</p>

<p>
  <b>Developer:</b>
  <%= @game.developer %>
</p>

<p>
  <b>Rating:</b>
  <%= @game.rating %>
</p>

<p>
	<b>Images</b>
	<% @game.images.each do |image| %>
		<%= image_tag("http://thegamesdb.net/banners/" + image.location) %>
	<% end %>
</p>