<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>I Track Games</title>

		

		<%= stylesheet_link_tag    "application", :media => "all" %>
		<!--%= stylesheet_link_tag    controller_name, :media => "all" %-->
		<%= javascript_include_tag "application" %>
		<!--%= javascript_include_tag controller_name %-->
		<%= csrf_meta_tags %>
	</head>
	<body class="<%= controller_name %> <%= action_name %> <%= controller_name %>-<%= action_name %>">
		<div class="header-container center-container">
			<header class="container">
				<a class="home-link" href="/">
				<h1>I Track Games</h1>
				</a>
				<nav class="account-navigation">
					<ul>
						<% if user_signed_in? %>
							<li><%= link_to 'Logged in as ' + current_user.email, edit_user_registration_path %></li>
							<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
						<% else %>
							<li><%= link_to "Sign up", new_user_registration_path %></li>
							<li><%= link_to "Login", new_user_session_path %></li>
						<% end %>
					</ul>
				</nav>
				<nav class="main-navigation">
					<div id="search"><%= render 'search/search' %> </div>
					<ul>
						<li><%= link_to 'Platforms', platforms_path %></li>
						
					</ul>
				</nav>
			</header>
			
		</div>
		<div class="main-content-container center-container">
			<div class="container main-content">
			<%= yield %>
			</div>
		</div>
		<div class="footer-container center-container">
			<footer class="container">
				The iTrackGames <a href="https://github.com/achappell/itrackgames">source</a> is released under the <a href="http://opensource.org/licenses/MIT">MIT license</a>. Game and game system related content is provided by <a href="http://thegamesdb.net">TheGamesDB.net</a> and subject to their <a href="http://thegamesdb.net/terms/">terms</a>. Last Updated 4/9/2013
			</footer>
		</div>
		<script type="text/javascript">

  			var _gaq = _gaq || [];
  			_gaq.push(['_setAccount', 'UA-38948063-1']);
 			_gaq.push(['_trackPageview']);

  			(function() {
    			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  			})();
		</script>
	</body>
</html>
