<!DOCTYPE html>
<html>
<head>
  <title>Icheckgames</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    controller_name, :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller_name %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %> <%= controller_name %>-<%= action_name %>">
	<% if current_user %>
  		Signed in as <%= current_user.name %>!
  		<%= link_to "Sign out", signout_path %>
	<% else %>
  		<%= link_to "Sign in with Twitter", "/auth/twitter" %>
	<% end %>

<%= yield %>

</body>
</html>
